@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
.fa {
  color: white;
  padding: .5em;
  font-size: 2em;
  width: 1em;
  text-decoration: none;
}

.nav-wrapper{
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}

h4{
    font-family: 'Satisfy', cursive;
    font-style: normal;
    font-weight: bold;
    color: #ee6e73;
  font-size: 30px;
}
.btn{
  background-color: #ee6e73;
}
.card{
  padding-left: 1em;
  padding-right: 1em;
}