{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div class="row">
          
            <div class="col s12">
              <form action="">
                <div class="row">
                <div class="input-field col s9">
                  <i class="center-align material-icons prefix">search</i>
                  <input method="POST" action="{{url_for('show_recipe', recipe_id=2)}}" type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Search for any special dietary requirements</label>
                </div>
                <a href="{{url_for('add_recipe')}}" class="btn-floating right-align btn-large waves-effect waves-light red" style="float: right; margin-top: 10px"><i class="material-icons">add</i></a>
              </div>
              <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
              </form>
              
            </div>
         </div>
        <div class="row">
         {% for recipe in recipes %}
         
             <div class="card col s12 m6 l4 medium">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src={{ recipe.image_link}}>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">more_vert</i></span>
                  <p><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">View full recipe</a></p>
                  <span><i class="material-icons left">favorite</i> <p>{{recipe.likes}}</p></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">close</i></span>
                  <p>{{recipe.ingredients}}</p>
                  <span><a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}"><i class="material-icons right">edit</i></a></span>
                </div>
         </div>

         {% endfor %}
         
                 </div>
    </body>
</html>
{% endblock %}